# Automatically request review from security leads on dependency-related updates
/package.json @CarineJackson1 @sajanamhr21
/requirements.txt @CarineJackson1 @sajanamhr21
.github/workflows/ @CarineJackson1 @sajanamhr21
/Dockerfile @CarineJackson1 @sajanamhr21
