name: Fast Security Scan

on:
  pull_request:

jobs:
  fast-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install Semgrep
        run: pip install semgrep beautifulsoup4

      - name: Run Semgrep Scan
        run: semgrep --config=p/ci --json --output=security-reports/semgrep.json . || true

      - name: Upload Semgrep report
        uses: actions/upload-artifact@v4
        with:
          name: semgrep-report
          path: security-reports/semgrep.json
